* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    background-color: #ffffff;
}

.main {
    flex: 1;
    padding: 1.5em;
}

section {
    margin: 2.5em 0 2.5em 0;
}

section h2 {
    margin-bottom: 0.5em;
    font-size: 1.7em;
}